@import "tailwindcss";
@plugin '../hero.ts';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

body {
  font-family: "Pretendard", sans-serif;
  height: 100vh;
}

body > [data-overlay-container] {
  height: 100vh;
}

#root {
  height: 100vh;
}

#root > [data-overlay-container] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
