{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./src",
    "paths": {
      "@guards": ["common/guards/index.ts"],
      "@filters": ["common/filters/index.ts"],
      "@providers": ["common/providers/index.ts"],
      "@decorators": ["common/decorators/index.ts"],
      "@interceptors": ["common/interceptors/index.ts"],
      "@configs": ["configs/index.ts"],
      "@modules": ["modules/index.ts"],
      "@common": ["common/index.ts"],
      "@providers/*": ["common/providers/*"],
      "@guards/*": ["common/guards/*"],
      "@filters/*": ["common/filters/*"],
      "@decorators/*": ["common/decorators/*"],
      "@interceptors/*": ["common/interceptors/*"],
      "@configs/*": ["configs/*"],
      "@modules/*": ["modules/*"]
    }
  },
  "minify": false
}
