# Next.js
/.next/
/out/

# Build outputs
/build

# Package manager specific logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Admin app specific logs
logs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js cache
next-env.d.ts
