@import "tailwindcss";
@plugin '../../../packages/design-system/hero.tsx';
@source '../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../../packages/design-system/src/**/*.{js,ts,jsx,tsx}';
@source "../../../packages/ui/src/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

body {
	font-family: "Pretendard", sans-serif;
	height: 100vh;
}
