@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: calc(10px + env(safe-area-inset-top));
  padding-bottom: calc(10px + env(safe-area-inset-bottom));
  padding-left: calc(10px + env(safe-area-inset-left));
  padding-right: calc(10px + env(safe-area-inset-right));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
